  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

header {
  padding-right: 6px;
}
header h1 {
  padding-left: 55px;
}


ol, ul {
    list-style: none;
    padding-bottom: 80px;
    margin: 0px;
    padding-top: 20px;
    background-color: none;
    
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*base*/

body {
	font-size: 14px;
	font-family: 'Hammersmith One', sans-serif;
	color: #3f3d32;
	margin: 0px;
	background-color: #DADADA;
}
p {
	font-size: 11px;
	
	
}

a {
	color: #40bfe8;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 6.5em;
	margin-top: 15px;
	
	color: black;
	
  font-family: 'Lobster', cursive;
}

h3 {
	font-size: 2em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0 0 .5em 0;
	color: #3f3d32;
	letter-spacing: -0.07em;
}

img {
	max-width: 100%;

	margin-bottom: 1em
}


.wrapper { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	padding: 0;
	
	background: #ffffff;
	
	   
	
}





hr {
	width: 100%;
	display: block;
	height: 1px;
	border: none;
	outline: none;
	clear: both;
	background: #ccc;
	margin: 1em 0;
	
}

.wrapper .column { 
	float: left; 
	display: inline; 
	width: 50%;
	padding: 0;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
}

.column.left { padding-right: 1em }
.column.right { padding-left: 1em }

.nav-container { 
    width:100%;margin-right:-2em; 
    background-color: #DADADA;

}

nav {
	z-index: 42;

	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	
	width: 960px;
	
    background-color: none;
	
	
	
	filter: alpha(opacity=80); /* IE6-IE8 */
	position: relative;
	text-align: right;
}



 
nav li {
	display: inline;
	list-style: none;
}

nav li a {
	text-decoration: none;
	font-size: 1.2em;
	color: #2c2e24;
	font-weight: bold;
	display: inline-block;
	width: 5em; text-align: center;
	padding: .5em 1em;
	
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

nav li a:hover,
nav li a.selected {
	color: #fff;
	background: black;

}



 
/*clearfix*/    
.wrapper:before,
.wrapper:after {
	content: '';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;
	zoom: 1 
}

.sticky {
	position: fixed;
	top: 15px;
	
	animation:thedrop 1s 1;
	-moz-animation:thedrop 1s 1;
	-webkit-animation:thedrop 1s 1;
}

/*.sticky .nav-above {
	position: absolute;
	top:-15px;
	left:1em;
	right:1em;
	height:15px;
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}*/
    
/*media queries*/  

	/* #Tablet (Portrait) width of 768px */  
	@media only screen and (min-width: 768px) and (max-width: 959px) {
   		.wrapper { 
   			width: 700px;
   		}
		
		nav {
			width: 728px;
		}

	}
	
	/* #Mobile (Portrait) width of 320px */

    @media only screen and (max-width: 767px) {
        .wrapper { 
        	width: 300px;
        }
        
        .wrapper .column {
        	float: none;
        	width: 100%;
        }
		
		nav {
			width: 328px;
		}
        
        h1 {
			font-size: 2.5em;
			text-align: center;
        }
        
        h3 {
			font-size: 1.3em;
			text-align: center;
		}
		
 	}
 	
 	/* Mobile (Landscape) width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .wrapper {
        	width: 400px;
        }
		
		nav {
			width: 428px;
		}
        
        h1 {
			font-size: 3.5em;
        }
        
        h3 {
			font-size: 1.7em;
		}

  	}     

header {
    background-color: #DADADA;

}
#slide {
    background-color: #DADADA;

}



/*Wrap*/



#wrap .hidden
{
display: none;
}

#wrap #prevNext
{
margin-bottom: -2.5em;
}

#wrap #prevNext img
{
position: relative;
z-index: 2;
cursor: pointer;
text-align: center;
margin-bottom: 40px;
margin-top: 80px;
}



#wrap p
{

padding: 0 1em;
font-size: 1.5em;
position: relative;
top: -60px;
line-height: 50px;
height: 20px;
max-width: 960px;
background: black;
opacity: .6;
filter:alpha(opacity=70);

}
#wrap  #pho{
    width: 960px;

    
}

#wrap #slides {
    margin: auto;
    width: 960px;
}
#slide {
    text-align: center;
}

#prevNext {
    width: 960px;
    position: absolute;
    padding-top: 30px;
}
#pvleft {
  float:left;
  
}
#pvright {
  float:right;
  /*background-color: white;
  opacity: .65;
  border-radius: 100px;*/
}



.yo {
    border-right: 1px solid black;

}



/*section*/

.work {
  background-color: #F7C628;
}
.about {
  background-color: white;
}

#tibet {
  max-height: 300px;
  min-width: 960px;
  opacity: .85;
  
}

.clear {
  clear: both;
}

#about_left {
  padding: 30px;
  padding-bottom: 5px;
  border-right: 1px solid gray;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 30px;

}
#about_left h3 {
  padding-bottom: 15px;
}
#about_left p {
  font-size: 16px;
  letter-spacing: 1px;
}

#about_right {
  padding: 30px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}
#work_left {
  padding: 20px;
  padding-bottom: 5px;
  border-right: 1px solid white;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;


}
#work_right {
  padding: 20px;
  padding-bottom: 5px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;

}



#comp {
  width: 105px;
  height: 105px;
  margin: 3px;

}






#end {
    

    /*-webkit-transition: margin 0.5s ease-out; -moz-transition: margin 0.5s ease-out; -o-transition: margin 0.5s ease-out;*/
    border: 2px solid #ccc;
    opacity: 1;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
   
 }
 #end:hover {
     
     opacity: .55;
     
     
        
 }





















#contact_left {
  text-align: center;
  font-size: 18px;
  padding-top: 35px;
  padding-right: 0px;
  
}


.contact {
  text-align: center;
}

#contact_right {
  padding-bottom: 30px;
  
  
}




          
          .contact #contact_right .sprites ul li {
               padding: 5px 5px 5px 0px; 
               float: left;
          }


          .contact #contact_right .sprites ul li a {
               margin: 5px;
               width: 32px;
               height: 32px;
               display: block; 
               text-indent: 100%;
               white-space: nowrap;
               overflow: hidden;
              
          }

               .contact #contact_right .sprites ul li.linkedin a {
                    
                    background: url('img/spritegray.png');

                    
               
               }

               .contact #contact_right .sprites ul li.twitter a {
                   
                    background: url('img/spritegray.png');
                    background-position: 0px -64px;
                    
               
               }

               .contact #contact_right .sprites ul li.facebook a {
                    
                    background: url('img/spritegray.png');
                    background-position: 0px -32px;
               
               }


               .contact #contact_right .sprites ul li.linkedin a:hover {
                    background: url('img/sprite.png');
               }

               .contact #contact_right .sprites ul li.twitter a:hover {
                    background: url('img/sprite.png');
                    background-position: 0px -64px;
               }

               .contact #contact_right .sprites ul li.facebook a:hover {
                    background: url('img/sprite.png');
                    background-position: 0px -32px;
               }


footer {
  padding: 1em;
  font-size: 0.9em;
  background-color: black;
  color: white;
  text-align: right;
}












 